body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    
}

.link {
    font-size: 18px;
    color: beige;
}


.navbar {
    background-color: #242124;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px;

}

.navlink{
    display: flex;
    gap: 12px;
}

.headerlogo {
   font-size: 24px; 
   font-weight: 800;
   color: beige;
}

.hero {
    background-color:#242124 ;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    padding: 24px;
    
}

.hero-content {
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 16px;
    flex-wrap: wrap;
}

.hero-title {
   font-size: 48px; 
   font-weight: 900;
   color: beige;

}

.hero-button {
background-color: azure;
width: 160px;
padding: 18px;
border-radius: 8px;
text-align: center;

}

.hero-text {
    color: beige;
    font-size: 18px;
}

.hero-img {
    border-radius: 8px;
}

.info-section {
    text-align: center;
    background-color: #bfc0c0;
    padding: 64px;
}

.info-title {
    color: white;
    font-size: 36px;
    font-weight: 900;
    margin: 24px;
    
}

.info-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.info > img {
    width: 100px;
    height: auto;
    border: solid 3px;
    border-radius: 10px;

}
.info {
    max-width: 100px;
}

.infotext {
    color: white;
    font-size: 24px;
}

.quote-container {
background-color: beige;
display: flex;
justify-content: center;
align-items: center;
flex: 1;
padding: 64px;

}

.quote-box {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.quote {
    font-size: 36px;
    font-weight: 600;
}

.quote-ref {
    margin-left: auto;
    font-size: 24px;
}

.call-to-action {
    display: flex;
    justify-content: center;
    background-color:#bfc0c0 ;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 64px;
}

.action-box {
    background-color: #242124;
    border-radius: 16px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 48px;
    gap: 24px;
    max-width: 800px;
    
}

.action-text ,
.text {
    font-size: 24px;
    color: bisque;
}

.action-button {
    background-color: azure;
    width: 160px;
    padding: 18px;
    border-radius: 8px;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}